<div>
  <div class="createCapsuleName" ng-hide="$ctrl.named">
    <input id="capsuleInput" type="text" ng-model="capsuleNameModel" maxlength="40" placeholder="Capsule Name"/>
    <button class="btn" id="setCapName" type="button" ng-click="$ctrl.setCapsuleName(capsuleNameModel); capsuleNameModel = ''">Set Capsule Name</button>
  </div>

  <span ng-show="$ctrl.named">
    <div>
      <textarea data-toggle="modal" data-target="#addMomentoModal" id="inputBox" rows="4" cols="70" ng-model="input" placeholder="Add a message"> </textarea>
      <!-- <button id="addToCap" type="button" ng-click="$ctrl.capsuleChange(input, true)">Add to Capsule</button> -->
    </div>
  </span>

  <div id="nameCapsulePl0x" ng-hide="$ctrl.named">
    <p>Name your capsule to make changes!</p>
  </div>

  <div ng-show="$ctrl.named" class="inProgressWindow">
    <div>
      <h4 id="capHeader" ng-hide="$ctrl.editingViewCapsule">{{$ctrl.capsuleName}}</h4>
      <div ng-hide="$ctrl.editingViewCapsule">
        <button id="capsuleNameMargin" class="iconOptions" data-toggle="modal" data-target="#editCapsuleNameModal"> <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit Capsule Name</button>
        <button id="deleteButn" ng-click="$ctrl.deleteCap($ctrl.capsuleId)"> Delete this Capsule </button>
      </div>

      <h4 id="capHeader" ng-show="$ctrl.editingViewCapsule">{{$ctrl.editedCapsuleName}}</h4>
      <div ng-show="$ctrl.editingViewCapsule">
        <button id="capsuleNameMargin" class="iconOptions" data-toggle="modal" data-target="#editCapsuleNameModal"></i> Edit Capsule Name</button>
        <button id="deleteButn" ng-click="$ctrl.deleteCap($ctrl.capsuleId)"> Delete this Capsule </button>
      </div>

    </div>

    <!-- Regular content view for in progress capsule-->
    <div ng-hide="$ctrl.editingViewCapsule" class="innerItem" ng-repeat="input in $ctrl.currentCap track by $index">
      <div class="momentoBar">
        <button class="iconOptions" type="button" data-toggle="modal" data-target="#viewMomentoModal" ng-click="$ctrl.momentoDetails(input)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></button>
        <button class="iconOptions" type="button" data-toggle="modal" data-target="#editModal" ng-click="$ctrl.getIndex($index)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></button>
        <button class="iconOptions" type="button" ng-click="$ctrl.deleteMomento($index)"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
      </div>
      <h4 class="break"> {{input.name}} </h4>
      <p class="momentoInput break"> {{input.input}} </p>
    </div>


    <!-- Show capsules contents if in editing mode from View.js-->
    <div ng-show="$ctrl.editingViewCapsule" class="innerItem" ng-repeat="input in $ctrl.capsuleToEdit.contents">
      <div class="momentoBar">
          <button class="iconOptions" type="button" data-toggle="modal" data-target="#viewMomentoModal" ng-click="$ctrl.momentoDetails(input)"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></button>
           <button class="iconOptions" type="button" data-toggle="modal" data-target="#editModal" ng-click="$ctrl.getIndex($index)"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></button>
          <button class="iconOptions" type="button" ng-click="$ctrl.deleteMomento($index)"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
      </div>
      <h4 class="break"> {{input.name}} </h4>
      <p class="momentoInput break"> {{input.input}} </p>
    </div>


  </div>
  <div ng-show="$ctrl.named" class="bottomButtons">
    <button class="btn" id="saveForLater" type="button" ng-click="$ctrl.saveForLater()">Save for Later</button>
    <button class="btn" id="bury" type="button" data-toggle="modal" data-target="#buryModal">Bury</button>
  </div>
  <br/>


  <div id="buryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Before you bury this...</h4>
        </div>

        <div class="modal-body">
          <p>Enter Bury Date.</p>
          <input class="form-control"
               ng-model="startDate"
               ng-model-options="{ updateOn: 'blur' }"
               placeholder="Select a date..."
               moment-picker="ctrl.input"
          >
          <br/>
          <p>Intended Recipients</p>
          <input type="text" ng-model="recipient"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.bury(ctrl.input, recipient)">Bury</button>
        </div>

      </div>

    </div>
  </div>

  <div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change your momento!</h4>
        </div>

        <div class="modal-body">
          <input id="momentoEditInput" type="text" maxlength="40" ng-model="momentoModalName" placeholder="Momento Name"/>
          <textarea id="inputBoxEdit" rows="4" cols="70" maxlength="188" ng-model="modalInput"> </textarea>

          <div ng-controller="CreateCtrl">
            <button type="file" ngf-select="$ctrl.uploadFiles($file, $invalidFiles)"
                    accept="image/*, video/*, application/*, audio/*" ngf-max-height="1000" ngf-max-size="16MB">
                Photo</button>
            <br><br>
            <div ng-show="showDetails" style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                <span class="progress" ng-show="showDetails">
                    <div ng-show="showDetails" style="width:{{f.progress}}%"  
                         ng-bind="f.progress"></div>
                </span>
            </div>     
            {{errorMsg}}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.editMomento(modalInput, momentoModalName)">Submit Change</button>
        </div>

      </div>

    </div>
  </div>

  <div id="editCapsuleNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change your capsule name!</h4>
        </div>

        <div class="modal-body">
          <input id="capsuleEditInput" type="text" rows="2" maxlength="40" ng-model="capsuleModalName" placeholder="Capsule Name"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.setCapsuleName(capsuleModalName)">Submit Change</button>
        </div>

      </div>

    </div>
  </div>

  <div id="viewMomentoModal" class="modal fade" role="dialog">

  </div>

  <div id="addMomentoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <input id="momentoEditInput" type="text" maxlength="40" ng-model="momentoModalName" placeholder="Momento Name"/>
        </div>

        <div class="modal-body">
          <textarea id="modalInputBox" rows="4" cols="70" ng-model="input" placeholder="Write a message"> </textarea>

          <div ng-controller="CreateCtrl">
            <button type="file" ngf-select="$ctrl.uploadFiles($file, $invalidFiles)"
                    accept="image/*, video/*, application/*, audio/*" ngf-max-height="1000" ngf-max-size="16MB" ng-model="$file">
                Photo</button>
            <br><br>
            <div ng-show="showDetails" style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                <span class="progress" ng-show="showDetails">
                    <div ng-show="showDetails" style="width:{{f.progress}}%"  
                         ng-bind="f.progress"></div>
                </span>
            </div>     
            {{errorMsg}}
          </div>          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.capsuleChange(input, momentoModalName, true)">Submit</button>
        </div>

      </div>
    </div>    
  </div>

</div>
