<div id="nameCapsulePl0x">
  <div> hello there {{ email }} </div>
  <div ng-show="$ctrl.success"> You have changed your password to: {{ $ctrl.newPassword }} </div>  
  <div ng-hide="$ctrl.success">Change your password here.</div>
  
  <div class="signupInput">
    <input
      ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || '#DDDDDD', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || '#222222'}"
      type="password"
      placeholder="Password"
      ng-model="$ctrl.newPassword"
      zxcvbn="passwordStrength"> </input>
  </div>

  <div ng-show="$ctrl.newPassword.length" class="passwordMeter">
    <zx-password-meter value="{{ passwordStrength.score }}" max="4"></zx-password-meter>
  </div>
  </br>
  <div class="isa_success" ng-show="success">
    <i class="fa fa-check"></i>
    Great, you've reset your password! Hang tight.
  </div>

  <div class="isa_failure" ng-show="badEmail">
    <i class="fa fa-times-circle"></i>
    Sorry, we didn't find that email.
  </div>

  <div class="isa_failure" ng-show="expired">
    <i class="fa fa-times-circle"></i>
    Sorry, that link has expired. Feel free to try again, though.
  </div>
  
  <button class="btn-primary" type="submit" ng-click="handlePasswordChange($ctrl.newPassword, email, token)">Submit New Password</button> <!-- btn --> <!-- signup -->
</div>
