<div>
    <h1 class="mainHeader">Life-Time Capsule</h1>
</div>

<nav class="navbar">
  <button class="btn view" ng-click="$ctrl.toggleToView()">View Capsules</button>
  <button class="btn create" ng-click="$ctrl.toggleToCreate()">Create A Capsule</button>
  <span id="logoutButton" >
    <h4 class="loginName">Welcome, {{$ctrl.email}}</h4>

    <div class="dropdown">
      <button class="fa fa-bars" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"></a>
        <button class="dropdown-item btn profileBtn" ng-click="$ctrl.toggleToProfile()"> Profile </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item btn logoutBtn" ng-click="$ctrl.logOut()"> Logout </button>
      </div>
    </div>
  <!--   <button class="logoutButton btn" ng-click="$ctrl.logOut()"> Logout </button> -->
  <!--   </br> -->
  <!--   <br></br> -->
  <!--   <button class="logoutButton btn" ng-click="$ctrl.toggleToProfile()"> Profile </button> -->
  </span>
  <!-- Dropdown -->
  <div ng-show="$ctrl.view && !$ctrl.profile" class="btn-group" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      Filter Capsules <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem"><div class="filterButton" id="all" ng-click="$ctrl.handleFilter($event)">All</div></li>
      <li role="menuitem"><div class="filterButton" id="buried" ng-click="$ctrl.handleFilter($event)">Buried</div></li>
      <li role="menuitem"><div class="filterButton" id="inProgress" ng-click="$ctrl.handleFilter($event)">In Progress</div></li>
    </ul>
  </div>
  <br/>
  <br/>
</nav>

<span ng-show="$ctrl.view && !$ctrl.profile">
  <view-page class="col-md-3" ng-repeat="cap in $ctrl.capsData track by $index" cap="cap" index="$index" edit-capsule="$ctrl.editCapsule" delete-cap="$ctrl.deleteCap"> </view-page>
</span>

<span ng-hide="$ctrl.view || $ctrl.profile">
  <create-page view-toggle="$ctrl.toggleToView" named="$ctrl.named" capsule-id="$ctrl.capsuleId" capsule-to-edit="$ctrl.capsuleToEdit" editing-view-capsule="$ctrl.editingViewCapsule" view="$ctrl.view" edited-capsule-name="$ctrl.editedCapsuleName" current-cap="$ctrl.currentCap" capsule-name="$ctrl.capsuleName" delete-cap="$ctrl.deleteCap"> </create-page>
</span>

<span ng-show="$ctrl.profile">
  <profile-page email="$ctrl.email" user-id="$ctrl.userId"> </profile-page>
</span>
