<div>
  <h1 ng-show="$ctrl.butnClicked" id="siteGreeting">Welcome to Life-Time Capsule</h1>
  <h1 ng-hide="$ctrl.butnClicked" id="welcomeMessage">Welcome to Life-Time Capsule</h1>

  <span ng-show="$ctrl.butnClicked">
    <div class="buttonContainer">
      <button class="getStartedButton btn" type="button" ng-click="$ctrl.getStarted()">Get Started</button>
    </div>
  </span>

  <div class="container"> <!-- Container -->
    <span ng-hide="$ctrl.butnClicked">
    <span ng-hide="$ctrl.signup">
      <div>

        <h3 class="loginHeader"> Sign Up </h3>
        
        <form class="signup" ng-submit="$ctrl.handleSignUp(username, password, email)"> <!-- Signup -->
          <div class="signupInput"><!-- signupInput -->
            <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || '#DDDDDD', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || '#222222'}" type="text" placeholder="Username" ng-model="username"> </input>
          </div>

          <div class="signupInput">
            <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || '#DDDDDD', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || '#222222'}" type="password" placeholder="Password" ng-model="password" zxcvbn="passwordStrength"> </input>
          </div>

          <div ng-show="password.length" class="passwordMeter">
            <zx-password-meter value="{{ passwordStrength.score }}" max="4"></zx-password-meter>
          </div>
          
          <div class="signupInput">
            <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || '#DDDDDD', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || '#222222'}" type="text" placeholder="Email" ng-model="email"> </input>
          </div>

          <p ng-show="$ctrl.error" class="warning">Please enter a valid username, password and email.</p><!-- Warning -->
          <button class="btn signup" type="submit">Sign Up</button> <!-- btn --> <!-- signup -->
        </form>

      </div>
    </span>

    <span ng-show="$ctrl.signup">
      <div>

        <form ng-submit="$ctrl.handleSignIn(email, password)">
          <h3 class="loginHeader"> Login </h3>
          <div class="signInput"> <!-- signInput -->
            <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || '#DDDDDD', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || '#222222'}" type="text" placeholder="Email" ng-model="email"> </input>
          </div>

          <div class="signInput"> <!-- signInput -->
            <input ng-style="{'background-color' : (($ctrl.error == true) && 'rgb(249, 126, 126)') || '#DDDDDD', 'color' : (($ctrl.error == true) && 'rgb(164, 76, 76)') || '#222222'}" type="password" placeholder="Password" ng-model="password"> </input>
          </div>

          <p ng-show="$ctrl.error" class="warning">Please enter a valid email and password.</p> <!-- Warning -->
          <button class="btn signup" type="submit">Sign In</button> <!-- btn  --> <!-- signup -->
          <div>
            <a href="#" data-toggle="modal" data-target="#changePasswordModal" ng-show="$ctrl.error" class="toggler" type="button">Forgot your password?</a> <!-- toggler -->
          </div>

        </form>

      </div>
    </span>
    <a href="#" class="toggler" type="button" ng-click="$ctrl.toggle()">{{$ctrl.sisu}}</a> <!-- toggler -->
    </span>

    <!-- Modal for forgot password flow -->
    <div id="changePasswordModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Forgot your password?</h4>
          </div>

          <div class="modal-body">
            <p> No worries! We'll send you instructions to reset. </p>
            <input id="emailpasswordinput" type="text" rows="2" maxlength="40" ng-model="emailPassword" placeholder="Confirm your email"/>
          </div>
          <div class="isa_success" ng-show="emailSuccess">
            <i class="fa fa-check"></i>
            Cool, we've sent you an email.</div>

          <div class="isa_failure" ng-show="emailFailed">
            <i class="fa fa-times-circle"></i>
            Sorry, we can't work with that email.</div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.forgotPassword(emailPassword)">Fire Away</button>
          </div>

        </div>

      </div>
    </div>

    
</div>
